<div class="item-page">
  <div class="item-main">
    <app-item-sum [item]="item"></app-item-sum>
    <div>
      <small>More Details</small>
      <span style="float:right">
        <a [routerLink]="'/update/item/' + item.slug"><small>Edit..</small></a>
      </span>
    </div>
    <div class="item-detail">
      <div *ngIf="ifShowMore; else alldetail" [innerHTML]="item.detail | showLess"></div>
      <ng-template #alldetail>
        <div [innerHTML]="(item.detail || '...') | md"></div>
      </ng-template>
      <a (click)="showMoreOrLess()">
        <small class="help-tips">{{ moreOrLessLabel }}</small>
      </a>
    </div>
  </div>
  <div class="include">
    <app-rut-list [per]="'item'" [perid]="itemID" [action]="'0'"></app-rut-list>
  </div>
  <div class="item-side">
  </div>
</div>