<div class="submit-page">
  <div class="title">
    <span>Submit New Item: </span>
    <small class="help-tips"> book, course, documentary, etc.</small> 
  </div>
  <form [formGroup]="submitForm" (ngSubmit)="onSubmit()" class="submit-form">
    <mat-form-field class="full-width">
      <textarea matInput #t maxlength="255" cdkTextareaAutosize placeholder="Title"
                required formControlName="title">
      </textarea>
      <mat-hint align="end">{{t.value?.length || 0}}/255</mat-hint>
    </mat-form-field>
    <mat-form-field class="full-width">
      <textarea matInput #author maxlength="255" cdkTextareaAutosize placeholder="Author or Instructor"
                required formControlName="authors">
      </textarea>
      <mat-hint align="end">{{author.value?.length || 0}}/255</mat-hint>
    </mat-form-field>
    <mat-form-field class="full-width">
      <textarea matInput #uid maxlength="32" cdkTextareaAutosize 
                placeholder="either UID, like ISBN" formControlName="uiid">
      </textarea>
      <mat-hint align="end">{{uid.value?.length || 0}}</mat-hint>
    </mat-form-field>
    <mat-form-field class="full-width">
      <textarea matInput #url maxlength="255" cdkTextareaAutosize 
                placeholder="or Source URL" formControlName="url">
      </textarea>
      <mat-hint align="end">{{url.value?.length || 0}}/255</mat-hint>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput #pub maxlength="25" placeholder="Publish Date" formControlName="pub_at" />
      <mat-hint align="end">{{pub.value?.length || 0}}</mat-hint>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput #puber maxlength="64" placeholder="Publisher" formControlName="publisher" />
      <mat-hint align="end">{{puber.value?.length || 0}}</mat-hint>
    </mat-form-field>
    <mat-form-field class="full-width">
      <textarea matInput #cover maxlength="255" cdkTextareaAutosize 
                placeholder="Cover Image URL" formControlName="cover">
      </textarea>
      <mat-hint align="end">{{cover.value?.length || 0}}/255</mat-hint>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput #cate maxlength="25" placeholder="Category" formControlName="category" />
      <mat-hint align="end">{{cate.value?.length || 0}}</mat-hint>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput #e maxlength="32" placeholder="Edition" formControlName="edition" />
      <mat-hint align="end">{{e.value?.length || 0}}/32</mat-hint>
    </mat-form-field>
    <mat-form-field class="full-width">
      <textarea matInput #d cdkTextareaAutosize cdkAutosizeMinRows="5" 
                placeholder="Detail" formControlName="detail">
      </textarea>
      <mat-hint align="end">{{d.value?.length || 0}}</mat-hint>
    </mat-form-field><br>
    <button mat-raised-button class="full-width" color="primary">Submit</button>
  </form>
</div>
