<div class="submit-page">
  <div class="title">
    <span>Submit New Item: </span>
    <small class="help-tips"> book, course, documentary, etc.</small> 
  </div>
  <form [formGroup]="submitForm" (ngSubmit)="onSubmit()" class="submit-form">
    <mat-form-field class="full-width">
      <textarea matInput #t maxlength="255" cdkTextareaAutosize required 
                formControlName="title" placeholder="Title">
      </textarea>
      <mat-hint align="end">{{t.value?.length || 0}}/255</mat-hint>
    </mat-form-field>
    <mat-form-field class="full-width">
      <textarea matInput #author maxlength="255" cdkTextareaAutosize required 
                formControlName="authors" placeholder="Author or Instructor">
      </textarea>
      <mat-hint align="end">{{author.value?.length || 0}}/255</mat-hint>
    </mat-form-field>
    <mat-form-field class="full-width">
      <textarea matInput #uid maxlength="32" cdkTextareaAutosize 
                formControlName="uiid" placeholder="either UID, like ISBN">
      </textarea>
      <mat-hint align="end">{{uid.value?.length || 0}}</mat-hint>
    </mat-form-field>
    <mat-form-field class="full-width">
      <textarea matInput #url maxlength="255" cdkTextareaAutosize 
                formControlName="url" placeholder="or Source URL">
      </textarea>
      <mat-hint align="end">{{url.value?.length || 0}}/255</mat-hint>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput #pub maxlength="25" formControlName="pub_at" placeholder="Publish Date"/>
      <mat-hint align="end">{{pub.value?.length || 0}}</mat-hint>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput #puber maxlength="64" formControlName="publisher" placeholder="Publisher"/>
      <mat-hint align="end">{{puber.value?.length || 0}}</mat-hint>
    </mat-form-field>
    <mat-form-field class="full-width">
      <textarea matInput #cover maxlength="255" cdkTextareaAutosize 
                formControlName="cover" placeholder="Cover Image URL">
      </textarea>
      <mat-hint align="end">{{cover.value?.length || 0}}/255</mat-hint>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput #e maxlength="32" formControlName="edition" placeholder="Edition"/>
      <mat-hint align="end">{{e.value?.length || 0}}/32</mat-hint>
    </mat-form-field>
    <mat-form-field class="full-width">
      <textarea matInput #d cdkTextareaAutosize cdkAutosizeMinRows="5" 
                formControlName="detail" placeholder="Detail">
      </textarea>
      <mat-hint align="end">{{d.value?.length || 0}}</mat-hint>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-select formControlName="category" placeholder="Category">
        <mat-option *ngFor="let cate of cates" [value]="cate">
          {{cate}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <button mat-raised-button class="full-width" color="primary">Submit</button>
  </form>
</div>
