<div class="rut-page" v-if="rut">
  <div class="rut-view">
    <div class="tagbar">
      <button mat-button (click)="toAddTag()">+Tag:</button>
      <span *ngIf="showAddTag">
        <mat-form-field>
          <input matInput maxlength="42" [(ngModel)]="newTag"/>
        </mat-form-field>
        <button mat-button (click)="addOrDelTag()">Add</button>
      </span>
      <span class="tag" *ngFor="let tag of tags">
        <a [routerLink]="'/tag/' + tag"><b>{{ tag }}</b></a>
        <span class="hiden-del-tag" (click)="addOrDelTag(tag)"> x</span>
      </span>
    </div>
    <div class="title">
      <h2>{{ rut.title }}</h2>
      <div class="meta">
        <span *ngIf="rutUrl; else profile">
          <a [href]="rutUrl" target="_blank">{{ rut.author || rut.uname }}</a>
        </span>
        <ng-template #profile>
          <a [routerLink]="'/p/' + rut.uname">{{ rut.uname }}</a>
        </ng-template>
        | <span> {{ rut.renew_at | date }}</span>
        | including {{ itemCount | plur:"item" }} 
        <a [routerLink]="'/update/r/' + rut.slug" *ngIf="canEdit">
          <b> |  ....Edit....</b>
        </a>
      </div>
    </div>
    <div class="content">
      <div [innerHTML]="rut.content | md"></div>
      <div class="org-src" *ngIf="rut.url">
        <a [href]="rut.url" target="_blank"><b>Origin Source</b></a>
      </div>
    </div>
    <!-- match collect / item per item_id -->
    <app-collect *ngFor="let c of collects" 
                 [collect]="c" 
                 [item]="itemIDs.get(c.item_id)"
                 [uname]="uname"
                 [canEdit]="canEdit">
    </app-collect>
  </div>
  <div class="toolbar">
    <button mat-button color="primary" (click)="onShowAddItem()" *ngIf="canEdit">
      {{ addLabel }}
    </button>
    <button mat-button color="primary" (click)="onStarOrUnstar()" *ngIf="isAuthed">
      {{ starStatus }}
    </button>
    <app-share-bar></app-share-bar>
  </div>
  <div class="add-item" *ngIf="showAddItem">
    <app-add-item [rutID]="rutID" [itemnum]="itemCount" [uname]="uname"
                  (added)="afterAdded()">
    </app-add-item>
  </div>
  <div class="rut-side">
    <div class="credential">
      <span class="credential-title">About <b>{{ rut.author || rut.uname }}</b> :</span>
      <div class="credential-body">
        <span>{{ rut.credential }}</span>
      </div>
    </div>
  </div>
</div>
