<div class="rut-page" v-if="rut">
  <div class="rut-view">
    <div class="tagbar">
      <!-- <button mat-button (click)="toAddTag">+Tag:</button> -->
      <span class="tag" *ngFor="let tag of tags">
        <a [routerLink]="'/tag/' + tag"><b>{{tag}}</b></a>
      </span>
    </div>
    <div class="title">
      <h2>{{ rut.title }}</h2>
      <div class="meta">
        <span *ngIf="rutUrl; else profile">
          <a [href]="rutUrl" target="_blank">{{ rut.author_id || rut.uname }}</a>
        </span>
        <ng-template #profile>
          <a [routerLink]="'/p/' + rut.uname">{{ rut.uname }}</a>
        </ng-template>
        | <span> {{ rut.renew_at | date }}</span>
        | including {{ itemCount | plur:"item" }} 
        <a [routerLink]="'/update/r/' + rutID" *ngIf="canEdit">
          <b> | Edit...</b>
        </a>
      </div>
    </div>
    <div class="content" [innerHTML]="rut.content | md"></div>
    <app-collect class="item"
                 *ngFor="let c of collects" 
                 [collect]="c" 
                 [item]="itemIDs.get(c.item_id)">
    </app-collect>
  </div>
  <div class="toolbar">
    <button mat-button color="primary" (click)="onShowAdd()" *ngIf="canEdit">
      {{ addLabel }}
    </button>
  </div>
  <div class="add-item" *ngIf="showAdd">
    <app-add-item [rutID]="rutID" [itemnum]="itemCount" [uname]="uname"></app-add-item>
  </div>
  <div class="rut-side">
    <div class="credential">
      <span class="credential-title">About Creator(s)</span>
      <div class="credential-body">
        <span>{{ rut.author_id }}: </span>
        <span>{{ rut.credential }}</span>
      </div>
    </div>
  </div>
</div>
