.tag-page {
  padding: 10px 230px 10px 0px;
  position: relative;
}
.tag-side {
  position: absolute;
  right: 0;
  width: 220px;
  background-color: #fafbfa;
}
.tagmeta {
  background-color: white;
  min-height: 120px;
  padding: 5px 75px 5px 10px;
  margin-bottom: 5px;
  position: relative;
}
.fobtn {
  position: absolute;
  top: 15px;
  right: 5px;
  text-align: right;
}
.taglogo {
  max-width: 65px;
  max-height: 65px;
  margin-top: 10px;
}
.edit-tag {
  padding: 20px;
  border: 1px dotted #689f38;
}
