<div class="tag-page">
  <div class="tagmeta" >
    <h4>
      <b style="font-size:1.6em">{{ tname }}</b>
      <a *ngIf="canUpdate" (click)="onToEdit()"><small> Edit</small></a>
    </h4>
    <div>
      <div *ngIf="ifShowMore; else alldetail" [innerHTML]="tag.intro | showLess"></div>
      <ng-template #alldetail>
        <div [innerHTML]="(tag.intro || '...') | md"></div>
      </ng-template>
      <a (click)="showMoreOrLess()">{{ moreOrLessLabel }}</a>
    </div>
    <div class="fobtn">
      <button mat-button (click)="onFoOrUnFo()">{{ followStatus }}</button><br>
      <img *ngIf="tag.logo" class="taglogo"
           [src]="tag.logo" alt="Logo" referrerPolicy="no-referrer">
    </div>
  </div>
  <div class="edit-tag" *ngIf="toEdit">
    <button mat-button class="full-width" color="primary" (click)="onShowEdit()">
      Cancel Edit: <b>{{ tag.tname }}</b>
    </button>
    <form [formGroup]="tagForm" (ngSubmit)="onUpdate()" class="tag-form">
      <mat-form-field class="full-width">
        <textarea matInput #url maxlength="255" cdkTextareaAutosize 
                  formControlName="logo" placeholder="Tag Logo Image URL">
        </textarea>
        <mat-hint align="end">{{url.value?.length || 0}}/255</mat-hint>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput #p formControlName="pname" maxlength="42" placeholder="Parent Tag"/>
        <mat-hint align="end">{{p.value?.length || 0}}</mat-hint>
      </mat-form-field>
      <mat-form-field class="full-width">
        <textarea matInput #d maxlength="512" cdkTextareaAutosize cdkAutosizeMinRows="3" 
                  formControlName="intro" placeholder="Tag Description">
        </textarea>
        <mat-hint align="end">{{d.value?.length || 0}}</mat-hint>
      </mat-form-field><br>
      <button mat-button class="full-width" color="primary">Update</button>
    </form>
  </div>
  <div class="tag-view">
    <app-rut-list [per]="'tag'" [perid]="tname" [action]="'0'"></app-rut-list>
  </div>
  <div class="tag-side">
    <h4 class="side-title"> Related Tags</h4>
    <div class="side-body" *ngFor="let tag of relatedTags">
      <a [routerLink]="'/tag/' + tag">{{ tag }}</a>
    </div>
  </div>
</div>
