.tag-page {
  padding: 10px 230px 10px 0px;
  position: relative;
}
.tagmeta {
  background-color: #fcfcfa;
  min-height: 125px;
  padding: 5px 120px 5px 10px;
  margin-bottom: 5px;
  position: relative;
}
.fobtn {
  position: absolute;
  top: 0px;
  right: 2px;
  text-align: right;
}
.taglogo {
  max-width: 100px;
  max-height: 100px;
}
.edit-tag {
  padding: 10px;
  border: 1px dotted #689f38;
}
.tag-side {
  position: absolute;
  top: 10px;
  right: 0;
  width: 220px;
  background-color: #fafbfa;
}
.side-title {
  background-color: #e5ebe4;
  padding: 10px 15px;
  font-size: 15px;
}
.side-body {
  padding: 5px 10px;
  font-size: 14px;
}
