<div class="auth-page">
  <form [formGroup]="authForm" (ngSubmit)="onLogin()" class="auth-form">
    <h3 class="title">Please Log in</h3>
    <mat-form-field class="full-width" >
      <input matInput formControlName="uname" required placeholder="Username"/>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput formControlName="password" required type="password" autocomplete="off" placeholder="Password"/>
    </mat-form-field>
    <button mat-raised-button class="full-width" color="primary" [disabled]="form?.invalid">Log In</button>
    <a routerLink="/signup"><small>  No Account?</small></a>
  </form>
</div>
