<div class="rut-sum">
  <span class="title">
    <div *ngIf="rut.url; else toPage">
      <b>{{ rut.title }}</b>
      <span class="host">
        <a [href]="rut.url" target="_blank" rel="nofollow noopener noreferrer">
          ({{ rut.url | host }})
        </a>
      </span>
    </div>
    <ng-template #toPage>
      <a [routerLink]="'/r/' + rut.slug"><b>{{ rut.title }}</b></a>
    </ng-template>
  </span>
  <a [routerLink]="'/r/' + rut.slug">
    <span>
      <img class="cover" [src]="rut.logo" referrerPolicy="no-referrer">
    </span>
    <div class="content">{{ rut.content | showLess }}</div>
    <span class="meta" *ngIf="rut.item_count > 0; else toview">
      including {{ rut.item_count | plur:"item" }}
    </span>
    <ng-template #toview>
      <span class="meta">...view</span>
    </ng-template>
  </a>
</div>
