<div class="update-page">
  <div class="title">
    <span>
      Update List: <br>
      <small class="help-tips">{{ rut.title}}</small>
    </span>
  </div>
  <form [formGroup]="rutForm" (ngSubmit)="onUpdate()" class="rut-form">
    <mat-form-field class="full-width">
      <textarea matInput #t maxlength="255" cdkTextareaAutosize required 
                formControlName="title" placeholder="Title">
      </textarea>
      <mat-hint align="end">{{t.value?.length || 0}}/255</mat-hint>
    </mat-form-field>
    <mat-form-field class="full-width">
      <textarea matInput #u maxlength="255" cdkTextareaAutosize 
                formControlName="url" placeholder="either URL" >
      </textarea>
      <mat-hint align="end">{{u.value?.length || 0}}/255</mat-hint>
    </mat-form-field>
    <mat-form-field class="full-width">
      <textarea matInput #c cdkTextareaAutosize cdkAutosizeMinRows="5" 
                formControlName="content" placeholder="or Text Content" >
      </textarea>
      <mat-hint align="end">{{c.value?.length || 0}}</mat-hint>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput #a maxlength="32" formControlName="author" placeholder="Origin Author (Optional)"/>
    </mat-form-field><br>
    <mat-form-field class="full-width">
      <input matInput #c formControlName="credential" maxlength="64" placeholder="Introduction or Credential (Optional)"/>
    </mat-form-field>
    <button mat-raised-button class="full-width" color="primary">Update</button>
  </form>
</div>

