<div class="collect-sum">
  <div class="item-info">
    <!-- here is an issue: _co.item is undefined , why?? -->
    <sup class="indicator" *ngIf="collect.item_order">#{{collect.item_order}}&nbsp;</sup> 
    <a [routerLink]="'/item/' + item.id">{{ item.title }}</a>
    <small class="meta">
      <br> {{item.uiid}}&nbsp;&nbsp;{{item.authors}}
    </small>
    <span>
      <img class="thumb" [src]="item.cover" referrerPolicy="no-referrer">
    </span>
  </div>
  <div class="content">{{collect.content}}</div>
</div>
