.collect-sum {
  padding: 5px 10px;
  background-color: #f5f7f8;
  border-bottom: 0.5px dashed #ddd;
}
.item-info {
  padding-right: 40px;
  position: relative;
}
.item-info .indicator {
  font-size: 0.6em;
  color:seagreen;
}
.item-info .meta {
  color: #aaa;
  font-size: 14px;
}
.item-info .thumb {
  position: absolute;
  max-width: 40px;
  max-height: 40px;
  top: 2px;
  right: 0px;
}
.collect-content {
  border-bottom: 0px dashed #ddd;
}
.hiden-edit {
  cursor: pointer;
  color: transparent;
}
.hiden-edit:hover {
  color: orangered;
}
.edit-box {
  padding: 10px;
  border: 1px dotted #689f38;
}
