<div class="collect-sum">
  <div class="item-info" *ngIf="collect && item">
    <sup class="indicator" *ngIf="collect.item_order">#{{collect.item_order}}&nbsp;</sup> 
    <a [routerLink]="'/item/' + item.id">{{ item.title }}</a>
    <small class="meta">
      <br> {{item.uiid}}&nbsp;&nbsp;{{item.authors}}
    </small>
    <span>
      <img class="thumb" [src]="item.cover" referrerPolicy="no-referrer">
    </span>
  </div>
  <div class="content" [innerHTML]="collectContent | md" *ngIf="!showEdit"></div>
  <div *ngIf="canEdit">
    <button mat-button class="hiden-edit" color="primary" (click)="onShowEdit()">Edit</button>
    <button mat-button class="hiden-edit" color="primary" (click)="onDel()">Delete</button>
    <div class="edit-tag" *ngIf="canEdit && showEdit">
      <mat-form-field class="full-width" *ngIf="showEdit">
        <button mat-button class="full-width" color="primary" (click)="onShowEdit()">{{ editLable }}</button>
        <textarea matInput #c cdkTextareaAutosize cdkAutosizeMinRows="5"
                  placeholder="Edit..." [(ngModel)]="collectContent">
        </textarea>
        <mat-hint align="end">{{c.value?.length || 0}}</mat-hint>
      </mat-form-field><br>
      <button mat-button class="full-width" color="primary" (click)="onUpdate()">Update</button>
    </div>
  </div>
</div>
