<div class="profile-page">
  <div class="profile-head">
    <a [routerLink]="'/p/' + uname">
      <b style="font-size:1.6em">{{ user.nickname }}</b>
    </a>
    <a [routerLink]="'/updateuser/' + uname">
      <small> @{{uname}}</small>
    </a>
    <small class="location"> &nbsp; {{ user.location }}</small>
    <div class="aboutme">{{user.intro || '...'}}</div>
  </div>
  <div class="profile-view">
    <router-outlet></router-outlet>
  </div>
  <div class="profile-side">
    <div class="right-avatar">
      <app-avatar [uname]="uname" [size]="210" [src]="user.avatar"></app-avatar>
      <small class="user-info"> &nbsp;{{user.join_at | date}} Joined</small>
    </div>
    <div class="right-nav">
      <a [routerLink]="'/p/' + uname + '/create'" routerLinkActive="active">
        <b style="color:royalblue">*</b> Post
      </a><br>
      <a [routerLink]="'/p/' + uname + '/star'" routerLinkActive="active">
        <b style="color:royalblue">*</b> Star
      </a><br>
      <a [routerLink]="'/p/' + uname + '/doings'" routerLinkActive="active">
        <b style="color:coral">~</b> Doing
      </a><br>
      <a [routerLink]="'/p/' + uname + '/todos'" routerLinkActive="active">
        <b style="color:coral">~</b> ToDo
      </a><br>
      <a [routerLink]="'/p/' + uname + '/dones'" routerLinkActive="active">
        <b style="color:coral">~</b> Done
      </a><br><br>
      <b># Topic: </b><br>
      <span *ngFor="let tag of tags">
        <a [routerLink]="'/tag/' + tag"><small>{{tag}} &nbsp;</small></a>
      </span>
    </div>
  </div>
</div>
