<div class="add-page">
  <form [formGroup]="addForm" (ngSubmit)="onAdd()" class="add-form">
    <!-- cannot call onEnter ?? -->
    <nz-select #slct class="full-width"
      nzShowSearch nzServerSearch nzAllowClear
      (nzOnSearch)="onSearch($event)"
      formControlName="item_id"
      nzPlaceHolder="Input ISBN or Other UID, Then Search and Select">
      <nz-option *ngFor="let item of items" 
                [nzLabel]="item.title" 
                [nzValue]="item.id">
      </nz-option>
    </nz-select>
    <mat-form-field class="full-width">
      <textarea matInput #d cdkTextareaAutosize cdkAutosizeMinRows="5" 
                formControlName="content" placeholder="Compose..., like Reading tips, etc.">
      </textarea>
      <mat-hint align="end">{{d.value?.length || 0}}</mat-hint>
    </mat-form-field><br>
    <button mat-button class="full-width" color="primary">Add</button>
  </form>
</div>
