<div class="add-page">
  <!-- <div class="title"> 
    <b style="font-size:1.2em">Add Item To List:&nbsp;&nbsp;</b>
    {{ rutTitle }}&nbsp;&nbsp;
  </div> -->
  <div>
    <form [formGroup]="addForm" (ngSubmit)="onAdd()" class="add-form">
      <mat-form-field class="full-width">
        <mat-label>Select A Item</mat-label>
        <mat-select formControlName="item_id">
          <mat-option *ngFor="let item of items" [value]="item.id">
            {{item.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="full-width">
        <textarea matInput #d cdkTextareaAutosize cdkAutosizeMinRows="5" 
                  placeholder="Compose..." formControlName="content">
        </textarea>
        <mat-hint align="end">{{d.value?.length || 0}}</mat-hint>
      </mat-form-field><br>
      <button mat-button class="full-width" color="primary">Add</button>
    </form>
  </div>
</div>
