/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-family: Lato,Roboto,Open Sans,sans-serif;
  font-size: 18px;
  line-height: 1.6em;
  background-color: #f2f3f5;
  overflow-wrap: break-word;
}
a {
  color: #37a;
  text-decoration: none;
}
a:hover {
  color: green;
}
h2, h3, h4 {
  margin: 8px 0;
  line-height: 1.2em;
  font-family: Pontano Sans, Lato, Roboto, Open Sans, serif;
}
p {
  margin: 5px 0;
}
pre {
  background-color: #f0f0f0;
  padding: 5px;
}
blockquote {
  border-left: 3px solid orange;
  margin: 5px;
  padding-left: 12px;
}
.blockbtn {
  display: block;
  margin: 5px 0;
  width: 100%;
  text-align: center;
}
.full-width {
  width: 100%;
}

.submenu {
  margin-bottom: 5px;
  border-bottom: 1px solid #eee;
}
.submenu a {
  color: grey;
  margin-right: 0.85em;
}
.submenu a:hover {
  color: darkgreen;
}
.submenu a.active {
  color: orange;
  font-weight: 800;
}