/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-family: Lato,Roboto,Open Sans,sans-serif;
  font-size: 18px;
  line-height: 1.6em;
  background-color: #edf0f5;
  overflow-wrap: break-word;
}
a {
  color: #000000bf;
  text-decoration: none;
}
a:hover {
  color: #03a87c;
}
h2, h3, h4 {
  margin: 8px 0;
  line-height: 1.2em;
  font-family: Pontano Sans, Lato, Roboto, Open Sans, serif;
}
p {
  margin: 5px 0;
}
pre {
  background-color: #f0f0f0;
  padding: 5px;
}
blockquote {
  border-left: 3px solid orange;
  margin: 5px;
  padding-left: 12px;
}
.blockbtn {
  display: block;
  margin: 5px 0;
  width: 100%;
  text-align: center;
}
.full-width {
  width: 100%;
}
.help-tips {
  color: green;
  font-size: 0.8em;
}

/* to fix the no-needed scrollbar and overlap content, autosize textarea*/
textarea[cdktextareaautosize].mat-input-element {
  overflow: hidden;
  resize: vertical;
  padding: 0;
  margin: 0;
}
