<header class="header">
  <nav class="nav-menu">
    <a routerLink="/">
      <small style="color:darkorange;font-size:1.2em;letter-spacing:0.005em">
        RutHub<sup style="font-size:0.5em;color:grey"> alpha</sup>
      </small>
    </a>
    <div class="right-menu">
      <div *ngIf="ifAuthed; else login">
        <nz-dropdown>
          <button nz-button nz-dropdown><i nz-icon type="down"></i></button>
          <ul nz-menu>
            <li nz-menu-item>
              <a routerLink="/new"><b style="color: orange">New</b></a>
            </li>
            <li nz-menu-item>
              <a [routerLink]="'/p/' + actUname"><b>Profile</b></a>
            </li>
            <li nz-menu-item>
              <a (click)="onLogOut()">Sign Out</a>
            </li>
          </ul>
        </nz-dropdown>
      </div>
      <ng-template #login>
        <a routerLink="/signin">Log in</a>
      </ng-template>
    </div>
  </nav>
</header>
