<header class="header">
  <nav class="nav-menu">
    <a routerLink="/"><b class="logo">RutHub</b></a><sup class="logo-sup">alpha</sup>
    <div class="right-menu">
      <div *ngIf="ifAuthed; else login">
        <nz-dropdown>
          <button nz-button nz-dropdown><i nz-icon type="down"></i></button>
          <ul nz-menu>
            <li nz-menu-item>
              <a routerLink="/r/new"><b style="color: orange">Post New List</b></a>
            </li>
            <li nz-menu-item>
              <a routerLink="/item/submit"><b>Submit Item</b></a>
            </li>
            <li nz-menu-item>
              <a [routerLink]="'/p/' + actUname"><b>Profile</b></a>
            </li>
            <li nz-menu-item>
              <a (click)="onLogOut()">Sign Out</a>
            </li>
          </ul>
        </nz-dropdown>
      </div>
      <ng-template #login>
        <!-- <a routerLink="/auth/signup">Sign up</a>  |  -->
        <a routerLink="/auth/signin">Log in</a>
      </ng-template>
    </div>
  </nav>
</header>
