<header class="header">
  <nav class="nav-menu">
    <a routerLink="/">
      <small style="color:darkorange;font-size:1.2em;letter-spacing:0.005em">
        RutHub<sup style="font-size:0.5em;color:grey"> alpha</sup>
      </small>
    </a>
    <div class="right-menu">
      <div *ngIf="ifAuthed; else login">
        <button mat-button [matMenuTriggerFor]="option">Menu</button>
        <mat-menu #option="matMenu" class="drop-menu">
          <a routerLink="/new"><small> New</small></a><br>
          <a [routerLink]="'/p/' + actUname"><small> Profile</small></a>
          <button mat-menu-item (click)="onLogOut()">Log Out</button>
        </mat-menu>
      </div>
      <ng-template #login>
        <a routerLink="/signin">Log in</a>
      </ng-template>
    </div>
  </nav>
</header>
